In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
csv_file = "2016 Housing Data.csv"
Housing = pd.read_csv(csv_file, encoding = "ISO-8859-1")

# Replace all NaN values with 0 
Housing = Housing.fillna(0)

Housing.head()

,Year,AssignedID,FHLBank,FIPSStateCode,FIPState2,FIPSCountyCode,FIPCnty2,FIPState&County,Zip Code,City,...,FedFinStbltyPlan,AcqTyp,GSEREO,Unnamed: 87,Unnamed: 88,STCOUNTYFP,CLASSFP,ZIP,COUNTYNAME,STATE
0,2016.0,2016972.0,Indianapolis,1.0,1.0,3.0,3.0,1003.0,36507.0,Baldwin,...,2.0,1.0,2.0,0.0,0.0,1001.0,H1,36003.0,Autauga County,AL
1,2016.0,2004771.0,Atlanta,1.0,1.0,31.0,31.0,1031.0,36311.0,Coffee,...,2.0,1.0,2.0,0.0,0.0,1001.0,H1,36006.0,Autauga County,AL
2,2016.0,2054365.0,Topeka,1.0,1.0,39.0,39.0,1039.0,36028.0,Covington,...,2.0,1.0,2.0,0.0,0.0,1001.0,H1,36067.0,Autauga County,AL
3,2016.0,2055438.0,Atlanta,1.0,1.0,45.0,45.0,1045.0,36322.0,Dale,...,2.0,1.0,2.0,0.0,0.0,1001.0,H1,36066.0,Autauga County,AL
4,2016.0,2038851.0,Cincinnati,1.0,1.0,45.0,45.0,1045.0,36322.0,Dale,...,2.0,4.0,2.0,0.0,0.0,1001.0,H1,36703.0,Autauga County,AL

In [4]:
Housing_clean = Housing[['Year', 'FHLBank', 'FIPSCountyCode','FIPState&County','Zip Code','City','MinPer','TraMedY','LocMedY','Income','IncRat','LTV','MortDate','AcqDate','Purpose','FedGuar','Term','NumBor','First','BoAge','CoAge','Bed1','Bed2','Bed3','Bed4','Rate','Amount','Front','Back','BoCreditScore','CoCreditScore','PropType']].copy()
Housing_clean.head()

,Year,FHLBank,FIPSCountyCode,FIPState&County,Zip Code,City,MinPer,TraMedY,LocMedY,Income,...,Bed2,Bed3,Bed4,Rate,Amount,Front,Back,BoCreditScore,CoCreditScore,PropType
0,2016.0,Indianapolis,3.0,1003.0,36507.0,Baldwin,10.75,70225.0,58429.0,84588.0,...,98.0,98.0,98.0,0.0363,175750.0,0.1600,0.2600,4.0,5.0,PT07
1,2016.0,Atlanta,31.0,1031.0,36311.0,Coffee,40.07,58453.0,45812.0,124944.0,...,98.0,98.0,98.0,0.0263,167300.0,0.1203,0.5000,3.0,3.0,PT01
2,2016.0,Topeka,39.0,1039.0,36028.0,Covington,17.35,61250.0,45812.0,66454.0,...,98.0,98.0,98.0,0.0400,128000.0,0.1346,0.1815,4.0,9.0,PT01
3,2016.0,Atlanta,45.0,1045.0,36322.0,Dale,38.11,51074.0,45812.0,80424.0,...,98.0,98.0,98.0,0.0338,377000.0,0.3023,0.4617,4.0,5.0,PT01
4,2016.0,Cincinnati,45.0,1045.0,36322.0,Dale,14.13,56786.0,43820.0,73000.0,...,98.0,98.0,98.0,0.0338,193500.0,0.1900,0.1900,5.0,9.0,PT01

table name to be single_family
primary key 
id SERIAL
also define all the other chosen columns with varcart, integer, text, etc
anything with decimal - float

additional table for Property_Type
code and value for all items:
PT01 -___
PT12 - ____