In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from citipy import citipy

In [21]:
csv_path = "Data/Zip_Zhvi_AllHomes.csv"

In [23]:
home_data = pd.read_csv(csv_path, encoding='ISO-8859-1')
home_data.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2016-01,2016-02,2016-03,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,1281196.0,1285930.0,1292610.0,...,1323473,1310806,1304288,1292400,1268453,1231999,1200225,1190513,1201389,1212916
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,452225.0,459922.0,465600.0,...,484536,485356,484823,483136,482049,479947,477869,475778,474614,473836
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,1258048.0,1260834.0,1265282.0,...,1182445,1174980,1174939,1171951,1176050,1170613,1145540,1136414,1147577,1178571
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,336435.0,335480.0,334605.0,...,335615,334863,334371,334005,334189,333952,334281,334285,334505,334135
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,596176.0,605481.0,612230.0,...,631204,632961,632124,629721,627803,625515,623036,620855,619097,617942